<!DOCTYPE html >
<html lang='ja'>

<head>
    <title>{% block title %}Default title{% end %}</title>
    <meta charset='utf-8'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import page-specific CSS -->
    {% block style_block %}{# page-specific CSS #}{% end %}
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

    {% block menu %}{# menu area #}{% end %}
    <div id="main">
        {% block content %}{# main content area #}{% end %}
    </div>
    <!-- /container -->

    {% block footer %}{# footer area #}{% end %}

    {% block tail_script %}{# defer-capable JS block #}{% end %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src={{ static_url('js/bootstrap.min.js') }}></script>
</body>
</html>
